:root {
    --main-bg-color: brown;
    --color-subtitle: #27c5d4;
    --color-text: #696666;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
}

.block-titles {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
}

.title {
    color: var(--color-subtitle);
}

.img-avatar {
    width: 300px;
    border-radius: 40px
}

.block {
    width: 200px;
    height: 200px;
    background: var(--main-bg-color);
}

.summary-block {
    display: flex;
    flex-wrap: wrap;
}

.contacts {
    margin-left: 30px;
}

.subtitle {
    color: var(--color-subtitle);
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    margin-left: 38px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

a.contact-text:hover {
    color: var(--color-subtitle);
}

li .contact-text {
    color: var(--color-text);
}

.summary-text {
    color: var(--color-text);
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin-left: 38px;
}